body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  font-size: 24px;
  color: white;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.js-weather {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.temp,
.city {
  margin-right: 1%;
}

.temp {
  font-size: 46px;
}

.city {
  font-size: 24px;
}

.js-clock {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 100px;
  font-weight: bold;
}

.js-greeting {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}

.js-todoList {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-todoList input,
.js-greeting input {
  width: 40%;
  height: 100%;
  border: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  text-align: center;
}

.js-todoList input::placeholder,
.js-greeting input::placeholder {
  color: white;
  font-size: 36px;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  text-align: center;
}

input:focus::placeholder {
  opacity: 0;
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 40%;
  height: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

li span {
  font-size: 36px;
}

li span:hover {
  color: red;
}

button {
  margin-right: 10px;
}

.hidden {
  display: none;
}

@keyframes fadeOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -999;
  animation: fadeOn 0.7s linear;
}
